/* Resetando o documento */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    color: white;
}
 /* Ajustando ao centro */
 html{
    display: flex;
    align-items: center;
    justify-content: center;

}

/* Ajustando o fundo */
body {
    margin-top: 9%;
    padding: 30px;
    background: #040404;

}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 2rem;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Ajustando imagem e texto de perfil */
img {
    margin-bottom: 15px;
    width:15%;
    border-radius: 50%;
    border: 4px outset rgb(43, 43, 43);
}

header p{
    color: #808080;
    opacity: 90%;
}

header p:hover{
    opacity: 100%;
    transition: ease-in .1s;
}

/* Seção dos botões */
section {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.button {
    text-align: center;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 60px;
    opacity: .7;
    border-radius: 8px;
    transition: ease-in .2s;
}
/* Efeito ao passar mouse sobre os botões */
.button:hover{
    opacity: 1;
    transition: ease-in .2s;
}